# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Node / npm
node_modules/
dist/
build/

# App secrets
app/.env
app/.env.local

# Python (if needed later)
__pycache__/
*.pyc
.env

# Logs
*.log
